.cardLayout {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.actions {
    position: absolute;
    right: 10px;
    display: flex;
    gap: 5px;
}

.componentName {
    background-color: var(--component-background);
    color: var(--text-color);
    padding: 3px;
}